@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to SoundByte</h1>
        <p class="lead">SoundByte is a quick and convinent audio sharing platform; share your audio in seconds</p>
        <p><a href="/audio/new" style="color:white"class="btn btn-primary btn-md">Create Audio &raquo;</a></p>
    </section>


</main>